<%  @objects = Category.seek_all 
@type = "Category"%>
<h4> CATEGORY TYPES:</h4>
<pre> <%= index %>
  <% @objects.each do |object| %>
  <%= entry(object) %><% end %>  
</pre>
<%  @objects = Location.seek_all 
@type = "Location"%>
<h4> LOCATION TYPES: </h4>
<pre> <%= index %>
  <% @objects.each do |object| %>
  <%= entry(object) %><% end %>  
</pre>