body{
  background-color: #DA82DA;
  margin-left: 25%;
  margin-right: 25%;
  font-family: sans-serif;
}

pre{
  background-color: #EBA4EB;
  color: #7F217F;
  padding: 6px;
}

h1{
  color: #7F217F;
  text-align: center;
}

h2{
  color: #7F217F;
  text-align: center;
}

h4{
  color: #7F217F;
  text-align: center;
}

p{
  text-align: center;
}

input{
  background-color: #EBA4EB;
  border: 4px groove, #7F217F;
}

form{
  background-color: #C95DC9;
  text-align: justify;
  padding: 6px;
}